{% extends 'base.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
{% block body %}
    <h1>Task edit</h1>
    <div class="form-group" style="width:500px;">
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}
    </div>
    <div class="form-group" style="width:500px;">
            <a class="btn btn-default" style="float:left;" href="{{ path('task_index') }}">Back to the list</a>
            {{ form_start(delete_form) }}
                <input class="btn btn-default" style="float:left;" type="submit" value="Delete">
            {{ form_end(delete_form) }}
    </div>

    <style>
    {# #appbundle_task_task {
        background-color: aqua;
    } #}
    </style>
{% endblock %}
