{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tasks list</h1>
    <a class="btn btn-default" href="{{ path('task_new') }}">Create a new task</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Task</th>
                <th>Duedate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        
        {% for task in tasks   %}
            <tr>
                <td><a href="{{ path('task_show', { 'id': task.id }) }}">{{ task.id }}</a></td>
                <td>{{ task.user }}</td>
                <td>{{ task.task }}</td>
                <td>{% if task.dueDate %}{{ task.dueDate|date('Y-m-d') }}{% endif %}</td>
                {% if task.user == app.user.username %}
                <td>
                    <a class="btn btn-default" href="{{ path('task_show', { 'id': task.id }) }}">show</a>
                    <a class="btn btn-default" href="{{ path('task_edit', { 'id': task.id }) }}">edit</a>
                </td>
                {% else %}
                <td>
                    <a class="btn btn-default" disabled>show</a>
                    <a class="btn btn-default" disabled>edit</a>
                </td>
            {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div ng-app="myApp" ng-controller="myCtrl">
  <p>Search : <input type="text" ng-model="name"></p>
  {% verbatim %}
 
  <table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>User</th>
            <th>Task</th>
            <th>Duedate</th>
            <th>Actions</th>
        </tr>
    </thead>
  <tbody>
        <tr ng-repeat="x in records | filter : name">
            <td>{{x.id}}</td>
            <td>{{x.user.username}}</td>
            <td>{{x.task}}</td>
            <td>{{x.due_date | date :  "y.MM.dd" }}</td>
            <td>
                <a class="btn btn-default" href="{{x.id}}">show</a>
                <a class="btn btn-default" href="{{x.id}}/edit">edit</a>
            </td>
        </tr>
  </tbody>
  </table>
  {% endverbatim %}
</div>
    <script>
        var app = angular.module("myApp", []);
        app.controller("myCtrl", function($scope) {   
            $.ajax({
            url: "{{ (path('task_data')) }}",
            type: 'GET',
            dataType:'json',
            success: function(result) {
                console.log('ok');
                console.log(result[0]);
                $scope.records = result;
                $scope.$apply();
            },
            error: function(result) {
                alert('error');
            }
            }); 
        });
    </script>
    
{% endblock %}
