{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}
    <h1>Task creation</h1>
    <div class="form-group" style="width:500px;">
    {{ form_start(form) }}
    {{ form_widget(form) }}
        <input class="btn btn-default" type="submit" value="Create" />
    {{ form_end(form) }}
    </div>
     <a class="btn btn-default" href="{{ path('task_index') }}">Back to the list</a>
{% endblock %}
