{% extends 'base.html.twig' %}

{% block body %}
    <h1>Task</h1>

    <table class="table" style="width:500px;">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ task.id }}</td>
            </tr>
            <tr>
                <th>Task</th>
                <td>{{ task.task }}</td>
            </tr>
            <tr>
                <th>Duedate</th>
                <td>{% if task.dueDate %}{{ task.dueDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
    <div class="form-group" style="width:500px;">
            <a class="btn btn-default" style="float:left;" href="{{ path('task_index') }}">Back to the list</a>

            <a class="btn btn-default" style="float:left;" href="{{ path('task_edit', { 'id': task.id }) }}">Edit</a>

            {{ form_start(delete_form) }}
                <input class="btn btn-default" style="float:left;" type="submit" value="Delete">
            {{ form_end(delete_form) }}
    </div>

{% endblock %}
